.nav-bg {
    background: rgb(250, 188, 63);
    background: linear-gradient(90deg, rgba(250, 188, 63, 1) 0%, rgba(232, 92, 13, 1) 70%, rgba(199, 37, 62, 1) 100%);

}

.logo {
    width: 100px;
    border-radius: 50%;
}

.nav-font {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: white;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.carousel {

    max-width: 900px;
    margin: 0 auto;
    border: 3px solid #FABC3F;
    padding: 5px;
    border-radius: 10px;

}

.texto-com-borda {
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
}

body {
    background-color: #821131;
    margin: 0;
}

.main-figure {
    margin: 0 auto;
    width: 350px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #FABC3F;
    border-radius: 50%;
    padding: 3px;
}

.main-figure-adjust {
    padding-left: 20px;
}

.main-div {
    padding-top: 40px;
    padding-left: 40px;
    color: white;
    background-color: #821131;
}

.figure-adjust {
    padding-left: 20px;
    margin: 0 auto;
    display: flex;
    max-width: 70%;
    width: 50%;
    height: auto;
    padding-bottom: 10px;
}

.sede-figure {
    margin: 0 auto;
    border: 3px solid #FABC3F;
    padding: 5px;
    border-radius: 10px;

}

.whoareus {
    color: white;
    text-align: center;
    justify-content: center;
    padding-left: 15px;

}

footer {
    background-color: #C7253E;
    /* Fundo suave */
    color: #ffffff;
    /* Texto branco para contraste */
    text-align: center;
    padding: 10px 0;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #FABC3F;
    color: #000000;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 15px;
}

.footer .social-icons a:hover {
    color: #ffffff;
}

.figure-adjust2 {
    margin: 0 5px;
}

/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

.header-cadastro {
    background-image: url(../img/cadastrobg.jpg);
    min-height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 1480px;
    height: 400px;
    max-width: 100%;
}


.header-cadastro div {
    min-height: 35vh;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10%;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
    font-family: sans-serif;
    background: linear-gradient(98deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0.136871936627450978) 67%);
}


.cadastro-font {
    color: #FABC3F;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.cadastro-items {
    display: flex;
}

button[type="submit"] {
    background-color: #fabc3f;
    border: none;
    color: black;
}

button[type="submit"]:hover {
    background-color: #FABC3F;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------*/



.service-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    object-fit: cover
    
}
.service-item img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-item:hover img {
    transform: scale(1.1);
}
.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.texto-com-borda2{
    font-size: xx-large;
    color: #FABC3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}